<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{=response.title or request.application}}</title>
  <link href="{{=URL('static','bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{=URL('static','css/custom.css')}}" rel="stylesheet">

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <a class="navbar-brand" href="#">Search Engine</a>
        <div class="container">
            {{=search_form}}
        </div>
    </div>

    <div class="container" id="body_container">
        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#tf">TF</a></li>
            <li><a data-toggle="tab" href="#tf_idf">TF-IDF</a></li>
            <li><a data-toggle="tab" href="#bm25">BM25</a></li>
        </ul>
        <div class="tab-content">
            <div id="tf" class="tab-pane">Tab1</div>
            <div id="tf_idf" class="tab-pane">Tab2</div>
            <div id="bm25" class="tab-pane">Tab3</div>
        </div>
    </div>

    <div class="flash">{{=response.flash or ''}}</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{=URL('static',bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
