<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{=response.title or request.application}}</title>
  <link href="{{=URL('static','bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="{{=URL('static','bootstrap/css/bootstrap-switch.min.css')}}">
  <link href="{{=URL('static','css/custom.css')}}" rel="stylesheet">

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <a class="navbar-brand" href="#">Search Engine</a>
        <div class="container">
            {{=search_form}}
        </div>
    </div>

    <div class="container" id="body_container">
        <!-- Tabs system uses bootstrap.min.js -->
        <ul class="nav nav-tabs">
            {{for i in range(len(tabs)):}}
                {{
                    if i==0:
                        class_name="active"
                    else:
                        class_name=""
                    pass
                }}
                <li class="{{=class_name}}"><a data-toggle="tab" href="#{{=tabs[i]['id']}}">{{=tabs[i]['name']}}</a></li>
            {{pass}}
        </ul>

        <div class="tab-content">
            {{for i in range(len(tabs)):}}
                {{
                    if i==0:
                        class_name="active in"
                    else:
                        class_name=""
                    pass
                }}
                <div id="{{=tabs[i]['id']}}" class="tab-pane fade {{=class_name}}">
                    <div id="{{=tabs[i]['id']}}_child"class="list-group">
                        {{items_list=tabs[i]["items"]}}
                        {{for j in range(len(items_list)):}}
                            <a href="{{=items_list[j]['href']}}" class="list-group-item">
                                <h4>{{=items_list[j]['href']}}</h4>
                            </a>
                        {{pass}}
                    </div>
                </div>
            {{pass}}
        </div>
        <ul id="paginator" class="pagination">
            {{import math}}
            {{num_pages=int(math.ceil(num_results/10.0))}}
            {{for i in range(num_pages):}}
                {{
                    if i==0:
                        class_name="active"
                    else:
                        class_name=""
                    pass
                }}
                <li class="{{=class_name}}"><a href="#">{{=i+1}}</a></li>
            {{pass}}
        </ul>
    </div>

    <div class="flash">{{=response.flash or ''}}</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{=URL('static','bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','bootstrap/js/bootstrap-switch.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py.js')}}"></script>
    <script type="text/javascript" charset="utf-8">
        $("#nlp_switch").bootstrapSwitch();

        $("#paginator a").click(function(){
            $(this).parent().parent().children().removeClass("active");
            $(this).parent().addClass("active");
            {{for i in range(len(tabs)):}}
                ajax("{{=URL('search','get_results')}}?type={{=tabs[i]['id']}}&page_no="+$(this).text(),[],"{{=tabs[i]['id']}}_child")
            {{pass}}
        });
    </script>
</body>
</html>
